
/* Головна частина */
.container{
    padding: 10px;
    display: flex;
    gap: 60px;
    justify-content: center;
}

.photos{  
    
}

.photos img {
    object-fit: cover;
    max-height: 700px;
}

.info {

}

.info .name{
    font-size: 23px;
    font-weight: 400;
    padding: 10px 0;
}

.info .prise{
    font-size: 20px;
    padding: 5px 0; 
    font-weight: 500;
}

.info label{
    padding-top: 15px;
    font-size: 16px;
    color: #333;
}

.info .colors{
    display: flex;
    gap: 10px;
    padding: 5px 0 10px;
    flex-wrap: wrap;
}

.info .colors .color-icon{
    height: 38px;
    width: 38px;
    border: none;
    outline: none;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
    outline: 4px solid transparent;
    border: 2px solid transparent;
    cursor: pointer;
}

.info .colors .color-icon.active{
    border: 2px solid black;
}

.info .sizes{
    display: flex;
    gap: 10px;
    padding: 5px 0 10px;
    flex-wrap: wrap;
}

.info .sizes .size{
    padding: 5px 10px;
    border: none;
    outline: none;
    /*box-shadow: 1px 3px 5px rgba(0,0,0,0.1);*/
    border: 1px solid #ccc;
    background-color: white;
}

.info .add-to-basket{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 2px;
    background-color: #606C38;
    color: white;
    cursor: pointer;
}

.info .add-to-basket i{
    font-size: 23px;
}

.info .add-to-wish{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    margin: 10px 0;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.info .add-to-wish i{
    font-size: 20px;
}

@media screen and (width < 750px){
    .container{
        display: flex;
        gap: 40px;
        flex-direction: column;
        padding: 10px;
    }
}

@media screen and (width < 600px){
    .container{
        gap: 10px;
        padding: 0;
    }
    .info{
        padding: 0 20px;
    }
}