
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
    list-style: none;
}

/* Голова сайту */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin: 20px 40px;
}

/* Ліва сторона голови сайту */
.header .left{
    display: flex;
    align-items: center;
    gap: 5px;
}

.header .site-name{
    font-weight: 500;
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header .menu-button{
    display: none;
    border: none;
    outline: none;
    padding: 10px;
    padding-top: 12px;
    font-size: 22px;
    background-color: transparent;
    cursor: pointer;
}

/* Посилання | Центр голови сайту */
.header nav{
    display: flex;
    align-items: center;
}

.header nav a{
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
}

/* Права сторона голови сайту */
.header .right{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .right button{
    background-color: white;
    border: none;
    outline: none;
    font-size: 22px;
    position: relative;
    padding: 5px;
    padding-top: 10px;
    cursor: pointer;
}

.header .right button span{
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14px;
    width: 14px;
    margin-top: 5px;
    background-color: white;
    border-radius: 50px;
    color: black;
}

main{
    min-height: 600px;
}

/* Низ сайту */
.footer {
    display: flex;
    justify-content: space-around;
    padding: 20px 80px;
    background-color: #606C38;
}

.footer div h3{
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 5px;
    color: white;
}

.footer div ul li{
    padding: 5px 0;
}

.footer div ul li a{
    text-decoration: none;
    color: #eee;
    padding: 5px 0;
    font-size: 14px;
}

@media screen and (width < 900px){
    .header nav{
        display: none;
    }
    .header .menu-button {
        display: block;
    }
}

@media screen and (width < 600px) {
    .header {
        margin: 10px;
        margin-right: 20px;
    }
    .header .left{
        width: 100%;
    }
    .site-name{
        width: 100%;
        text-align: center;
    }
    .footer {
        display: flex;
        justify-content: space-around;
        padding: 20px;
        background-color: #606C38;
    }
    .search, .profile-button, .wish-button{
        display: none;
    }
}